.add-options-buttons.text-center
  .container
    .row
      .customer-block.col-xs-12.col-md-4
        %h4 Already a GitLab EE Starter customer?
        %a.btn.featured-item-cta-btn.btn-margin-top{href: "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fd58c4fff70158d6989f6f2a3d"} Upgrade to GitLab EE Premium
      .customer-block.col-xs-12.col-md-4
        %h4 Not a GitLab Enterprise Edition customer?
        %a.btn.featured-item-cta-btn.btn-margin-top{ href: "/free-trial/" } Try it risk-free for 30 days
      .customer-block.col-xs-12.col-md-4
        %h4 Have more questions?
        %a.btn.featured-item-cta-btn.btn-margin-top{href: "/sales/"} Contact sales
