.form-to-resource-content
  .form-to-resource-content-section
    .form-container
      %h3.margin-top0 #{current_page.data.cta_title}
      -if current_page.data.cta_date
        %h4= current_page.data.cta_date
      - if current_page.data.cta_subtitle
        %p= current_page.data.cta_subtitle
      .form
        %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
        %form{id: "mktoForm_#{current_page.data.form_id}"}
        :javascript
          var formNumber = #{current_page.data.form_id || 'null'};
          MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", #{current_page.data.form_id}, function(form)
          {
            var destinationUrlId = $('#destination-url');
            const oldDestinationUrl = destinationUrlId.attr('href');
            var emailInput = $('.mktoForm .mktoEmailField');
            emailInput.change(function()
            {
              var emailValue = emailInput.val();
              var newDestinationUrl = oldDestinationUrl.replace('lb_email=', 'lb_email='+emailValue);
              destinationUrlId.attr('href', newDestinationUrl);
            });
            //
            form.onSuccess(function()
            {
              form.getFormElem().hide();
              $('.confirmform').attr('style', 'visibility: visible');
              $('.confirmform').attr('style', 'height: initial');
              dataLayer.push({event: '#{current_page.data.form_type}', mktoFormId: form.getId()});
              return false;
            });
          });
        .confirmform{style: "visibility:hidden;height:0;"}
          .centered-form-info
            %h3
              %a#destination-url.destination-url{href: "#{current_page.data.destination_url}", target: "_blank"} #{current_page.data.link_text}
            %p= current_page.data.success_message
