---
title: "Roadshow: Avoiding the Hidden Cost of DevOps Toolchains"
description: "Join GitLab and guest speaker Christopher Condo for an interactive discussion on toolchain complexity and how to manage the visibility, security and productivity challenges."
layout: default
suppress_header: true
extra_css:
  - faq.css
  - event-commit.css
  - event-roadshow.css
  - simplify-devops.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - simplify-devops.js
---

.hero-video-container#hero-video-container
  %iframe#hero-video{ src: "", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", frameborder: "0", allowfullscreen: "1" }

.blank-header.commit-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }/
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }/
  .header-content
    %img.hero-small{ src: "/images/devops-tools/gitlab-logo.svg", alt: "Gitlab logo" }/
    %h3 Roadshow: Avoiding the Hidden Cost of DevOps Toolchains
    %p Join us for our roadshow this Fall with guest speaker, Forrester Principal Analyst Chris Condo to discuss how to reduce toolchain complexity and manage visibility, security and productive challenges.

.gitlab-content-container.commit-content-container
  .content.commit-content

    .js-in-page-nav-group{ role: "main", offset: 56, showhash: "true" }

      .container 
        .row.u-margin-top-lg.video-gitlab-explained-container
          -#.video-thumb-container{ "data-videourl": "https://www.youtube.com/embed/VBxnxJqWo3o?autoplay=1&rel=0" }
            .video-thumb
            .video-play-container
              = partial "includes/simplify-devops/thumbnail-video-play-white", locals: { caption: "GitLab Commit 2019" }
          .col-md-6.u-padding-left-sm.u-padding-right-sm.text-left
            .video-intro-copy.u-margin-top-xs
              %p Registration is free, so save your spot today to learn from the industry's best minds!
              %p Learn how to:
              %ul.text-left
                %li Spend more time writing code, less maintaining toolchains
                %li Decrease toolchain downtime
                %li Improve toolchain security
                %li Increase developer capacity and efficiency
                %li Increase agility to respond to the market
          .col-md-6.u-padding-left-sm.u-padding-right-sm.text-center
            %img.speaker-image{ src: "/images/events/roadshow/speakers/christopher-condo-square.jpg" }
            .featured-speaker.text-left
              .speaker-name Christopher Condo
              .speaker-role Principal Analyst
              %p.speaker-bio Chris serves Application Development & Delivery (AD&D) Professionals. He is part of Forrester's AD&D coverage of DevOps tool chains, focusing on continuous integration (CI) and continuous delivery (CD) as well as software development strategies for enabling those strategies.

      - data.event_roadshow.each do |location|
        -if location.activeyears.include?(2019)
          = partial "includes/events/roadshow-city-list", locals: {eventlocation: location.eventlocation, urlhash: location.urlhash, photourl: location.photourl, eventdate: location.eventdate, venuename: location.venuename, registerurl: location.registerurl, address_line1: location.address_line1, address_line2: location.address_line2, address_line3: location.address_line3, address_line4: location.address_line4, eventdescription: location.eventdescription, activeyears: location.activeyears}
